@charset "utf-8";
/* CSS Document */

/* everything is inside container */
#container {
	min-width:300px;
	margin: auto;
	width:80%;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}

#logo {
    text-align: center;
	margin-bottom: 20px;
}

header {
		background-color:#ffffff;
		padding: 20px;
		text-align:center;
		height:200px;
}


right_panel {
		float:right;
		width:20%;
		margin-top: 30px;
		margin-right: 20px;
		color:#000000;
		border: 2px solid #306328;
		padding: 14px 16px;
}

main {
	float: left;
	width: 70%;
	margin: 30px 0 30px 20px;
	color:#000000;
	border: 2px solid #306328;
	padding: 14px 16px;
		
}

footer {
	text-align:center;
	text-size:.75em;
	clear:both;
}

#title.gallary  {
	text-align: center;
}

.gallary img {
	width: 30%;
	float: left;
	margin: 1.65%;
	transition:transform 0.25s ease;
}

.gallary > img:hover {
    -webkit-transform:scale(1.8); /* or some other value */
    transform:scale(1.8);
}
/*######################## Navbar container ########################*/

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 50px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
